@import "persons-hobbies.scss";
@import "hobby.scss";
@import "claim-popup.scss";

.App {
  position: relative;
}

.person-list-container {
  width: 550px;
  margin: 0 auto;
}

.hide {
  display: none !important;
}