.person .person-title {
  border-bottom: 2px solid #000;
  padding: 5px 0; }

.person .person-subtitle {
  position: relative;
  padding: 10px 0; }
  .person .person-subtitle .person-subtitle__text {
    display: inline-block;
    font-size: 16px;
    position: absolute;
    background-color: #fff;
    padding-right: 20px; }
  .person .person-subtitle .person-subtitle__line {
    display: inline-block;
    border-bottom: 1px dotted #000;
    width: 100%;
    vertical-align: middle; }

.person .hobbies-list-wrapper .input-wrapper {
  padding: 20px 0; }
  .person .hobbies-list-wrapper .input-wrapper .new-hobby {
    width: 230px;
    height: 25px; }

.person .hobbies-list-wrapper .hobbies-list {
  font-size: 14px; }
  .person .hobbies-list-wrapper .hobbies-list.me .hobby-item .claim {
    display: none; }
  .person .hobbies-list-wrapper .hobbies-list.me .hobby-item .hobby-item__control {
    background-image: url(../img/close.png); }
  .person .hobbies-list-wrapper .hobbies-list.me .hobby-item .hobby-item__text {
    width: 100%; }
  .person .hobbies-list-wrapper .hobbies-list:not(.me) .hobby-item:hover .hobby-item__text {
    width: 400px; }

.person .hobbies-list-wrapper .more-link {
  font-size: 14px;
  color: orange;
  cursor: pointer;
  border-bottom: 1px solid orange;
  display: inline-block;
  margin-left: 25px; }

.hobby-item {
  padding: 5px 0;
  padding-left: 25px;
  position: relative;
  cursor: pointer; }
  .hobby-item .hobby-item__control {
    background-image: url("../img/add.gif");
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    width: 12px;
    height: 12px;
    padding: 3px;
    position: absolute;
    top: 5px;
    left: 0; }
  .hobby-item .hobby-item__text {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    position: relative;
    min-width: 400px;
    max-width: 100%; }
    .hobby-item .hobby-item__text .text {
      margin-right: 10px; }
    .hobby-item .hobby-item__text:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      width: 50px;
      background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0.5)); }
  .hobby-item:hover .hobby-item__control {
    display: inline-block; }
  .hobby-item:hover .claim {
    display: inline-block; }
  .hobby-item .claim {
    display: none;
    position: absolute;
    right: 0;
    vertical-align: middle;
    padding-left: 20px; }
    .hobby-item .claim::before {
      background-image: url("../img/warn.png");
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      content: '';
      width: 12px;
      height: 12px;
      vertical-align: middle;
      margin-right: 5px; }
  .hobby-item .added {
    color: green;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    padding-right: 50px; }
    .hobby-item .added::before {
      background-image: url("../img/ok.png");
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      content: '';
      width: 16px;
      height: 16px;
      vertical-align: middle;
      margin-right: 5px; }

.claim-form {
  display: inline-block;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid black;
  z-index: 10; }
  .claim-form .form-title {
    text-align: center; }
  .claim-form .popup-close {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-image: url(../img/close.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer; }

.App {
  position: relative; }

.person-list-container {
  width: 550px;
  margin: 0 auto; }

.hide {
  display: none !important; }
